<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Bungee+Inline&display=swap" rel="stylesheet">

<div class="component">

    <img src="../../assets/img/hexa.svg" alt="Hexagono" style="width: 100%; position: relative;">

    <div class="time" [ngStyle]="{'font-size': fontSize}">
        <h3> {{hora}} </h3>
    </div>
    
    <div class="title" [ngStyle]="{'font-size': titleSize}">
        <h4> {{titulo}} </h4>
    </div>
</div>
