/* You can add global styles to this file, and also import other style files */
:root {
    --background: #454550;
    --blue: #66FFE3;
    --red: #BF4141;
}

html{
    background-color: var(--background);
    padding: 0px;
    margin: 0px;
}

div{
    padding: 0px;
    margin: 0px;
}